mat-card {
    margin: 2%;
    padding: 2%;

    div.linha {
        display: grid;
        grid-template-columns: 10fr 15fr 30fr;
        padding: 5px 0px 5px 0px;
        max-height: 45px;

        mat-label {
            padding-right: 2%;
        }

        .sublinha {
            padding-right: 2%;
            display: grid;
            grid-template-columns: 40% 60%;

        }
    }
    
    div.linha:nth-child(2), div.linha:nth-child(3) {
        display: grid;
        grid-template-columns: 12fr 10fr 4fr;
        
        .btn-nova {
            width: 100%;
        }
    }
}

.divTable{
    margin: 2%;
    padding-bottom: 2%;
    
    th, td {
        text-align: center !important;
    }
    
    table {  
        .mat-column-numero {
            width: 10%;
        }
        .mat-column-acoes {
            width: 25%;
        }
        .btn-acao {
            margin: 0px 10px;
        }
    }
}
.mat-success {
    color: green !important;
}
.concluido {
    color: grey !important;
}

::ng-deep mat-form-field {
    max-height: 75%;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
    max-height: 10px;
}
::ng-deep .mat-mdc-form-field-infix {
    padding-top: 10px !important;
}