.container {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.linha {
    display: grid;
    grid-template-columns: 1fr 5fr;

    .sublinha {
        display: grid;
        grid-template-columns: 1fr 2fr;

        .responsavel {
            padding-right: 15px;
        }
    }
}

.grande {
    grid-template-columns: 1fr 1fr;
}

::ng-deep mat-form-field:not(.area){
    max-height: 75%;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
    max-height: 10px;
}
::ng-deep .mat-mdc-form-field-infix {
    padding-top: 10px !important;
}