<div>
    <mat-card>
        <div class="sublinha">
            <mat-label>Login</mat-label>
            <mat-form-field>
                <input matInput [value]="login">
            </mat-form-field>
        </div>
        <div class="sublinha">
            <mat-label>Senha</mat-label>
            <mat-form-field>
                <input matInput [value]="senha" type="password">
            </mat-form-field>
        </div>
        <button mat-raised-button  (click)="logar()">Log in</button>
        <p class="error">{{error}}</p>
    </mat-card>
</div>